<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- EXIBE O ÍCONE DO CAMISA 10 NA GUIA DO NAVEGADOR-->
    <link rel="shortcut icon" href="./images/LOGO/Logo redondo Camisa 10 FC.jpeg" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- MEU CSS -->
    <link rel="stylesheet" href="./css/styles.css">

    <!-- Bootstrap ÍCONES -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


    <title>Camisa 10 FC</title>
</head>


<body class="bg-dark text-light">
    <!-- menu -->
    <!-- A classe navbar-expand-lg expande o menu a partir de telas mais largas (telas maiores)  -->
    <nav class="navbar navbar-expand-lg navbar-dark text-light">
        <div class="container mx-3"> <img src="./images/LOGO/LOGO_Camisa_10-removebg-preview.png"
                alt="Logo do camisa 10 FC" width="90" height="90">
            <h5> Camisa 10 FC</h5></a>
            <!-- O button é o SANDWICHE do MENU -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <!-- dentro do <ul> consta todos os hiperlinks <li> do menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto ">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">INÍCIO</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            O CLUBE
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#treinadores">Treinadores</a></li>
                            <li><a class="dropdown-item" href="#patrocinadores">Patrocinadores</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#redes_sociais">Mais informações</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTATO</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#localizacao">LOCALIZAÇÃO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">FALE CONOSCO</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- fim menu -->



    <!-- QUEM SOMOS -->
    <div id="home" class="container">
        <h1 class="text-ligh fw-bold display-6 p-3 my-1">QUEM SOMOS</h1>
        <h5>O CAMISA 10 FC é uma equipe especializada em formar atletas de futebol através do Futsal, Iniciação e
            Categoria de Base.</h5>
    </div>
    <!-- fim do container QUEM SOMOS -->



    <!-- SLIDES -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">


            <div class="carousel-item">
                <img src="./images/SLIDES/1.png" class="d-block w-100" alt="...">
            </div>


            <div class="carousel-item active">
                <img src="./images/SLIDES/2.jpeg" class="d-block w-100" alt="...">
            </div>


            <div class="carousel-item">
                <img src="./images/SLIDES/3.png" class="d-block w-100" alt="...">
            </div>



            <div class="carousel-item">
                <img src="./images/SLIDES/4.jpeg" class="d-block w-100" alt="...">
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- FIM DOS SLIDES DE APRESENTAÇÃO -->

    <!-- MISSÃO VISÃO E VALORES -->
    <!-- row-cols-md-3 define que na tela média 3 divs serão posicionadas, uma ao lado da outra, dentro da linha -->
    <!-- row-cols-lg-3 define que na tela larga 3 divs serão posicionadas,uma ao lado da outra, dentro da linha -->
    <!-- my-2 define uma margem -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 gy-4 my-5">

            <div class="col border border-5">
                <i class="bi bi-globe mx-2"></i>
                <h1>MISSÃO</h1>
                <h5>Capacitação Técnica Cognitiva.</h5>
                <h5> Dar condições para o atleta realizar improvisos e futebol arte fazendo prevalecer a ginga
                    brasileira.
                </h5>
            </div>


            <div class="col border border-5">
                <i class="bi bi-eye mx-2"></i>
                <h1>VISÃO</h1>
                <h5>Futebol vistoso e competitivo. </h5>
                <h5> Capacitar atletas para serem diferenciados em suas posições.</h5>
            </div>


            <div class="col border border-5">
                <i class="bi bi-heart mx-2"></i>
                <h1>VALORES</h1>
                <h5>Garantir o bem-estar físico e emocional.</h5>
                <h5>Qualidade e Excelência!</h5>
            </div>
        </div>
    </div>
    <!-- FIM MISSÃO VISÃO E VALORES -->


    <!-- DEPOIMENTOS -->
    <div class="container">
        <h1 class="text-ligh fw-bold display-6 p-3 my-1">SÃO DEZENAS DE MENSAGENS DE AGRADECIMENTO QUE CHEGAM TODA
            SEMANA</h1>
    </div>
    <!-- fim do container de localização -->



    <!-- Container-fluid expande a img na tela. Somente com container a imagem fica menor -->
    <div class="container-fluid">
        <img src="./images/SLIDES/comentários.jpg" class="d-block w-100"
            alt="Comentários dos Pais sobre os treinos do Camisa 10 FC">
    </div>



    <!-- PATROCÍNIOS -->
    <div id="patrocinadores" class="container">
        <h1 class="text-ligh fw-bold display-6 p-3 my-1 rounded">Incentivadores do Esporte</h1>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="./images/PATROCINADORES/patrocinios1.jpeg" class="d-block w-100"
                    alt="Patrocinadores camisa 10 FC 1">
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img src="./images/PATROCINADORES/patrocinios2.jpeg" class="d-block w-100"
                    alt="Patrocinadores camisa 10 FC 2">

            </div>
            <div class="carousel-item">
                <img src="./images/PATROCINADORES/patrocinios3.jpeg" class="d-block w-100"
                    alt="Patrocinadores camisa 10 FC 3">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>


    <!-- LOCALIZAÇÃO-->
    <div id="localizacao" class="container">
        <h1 class="text-ligh fw-bold display-6 p-3 my-1">Localização</h1>
    </div>
    <!-- fim do container de localização -->



    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.8676738014474!2d-46.880910485023264!3d-23.50127528471277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf03c12c1870ff%3A0x700eed20ecb0308f!2sR.%20Ant%C3%A1rtico%2C%2022%20-%20Jardim%20Regina%20Alice%2C%20Barueri%20-%20SP%2C%2006412-030!5e0!3m2!1spt-BR!2sbr!4v1646614596832!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <!--Google Maps-->



    <!-- TREINADORES-->
    <div id="treinadores" class="container">
        <h1 class="text-ligh fw-bold display-6 p-3 my-1"> Nossos Treinadores </h1>
    </div>

    <section class="gallery">

        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 gy-4">

                <div class="col">
                    <img src="./images/TREINADORES/treinador1.jpeg" alt="Treinador Thiago">
                </div>

                <div class="col">
                    <h3> THIAGO ALVES </h3>

                    <div>
                        <a href="https://www.instagram.com/treinador_thiagoalves/" class="bi bi-instagram mx-2"></a>
                    </div>

                    <p class="biografia">

                        Fala Time, é com muito orgulho que anunciamos a contratação do Professor Thiago Alves
                        para reforçar nossa equipe e garantir ainda mais qualidade em nossas
                        categorias de iniciação.
                        <br>
                        <br>
                        <br>
                        <br>
                        O fera é o atual Campeão da Liga Paulista de Futsal (categorias Sub11 e Sub13), fazendo um
                        excelente trabalho à frente da equipe do BARUERI Esporte Forte.
                        <br>
                        <br>
                        <br>
                        <br>
                        Seja bem vindo Professor Thiago, o Camisa 10 FC lhe recebe de braços abertos e desde já sabemos
                        que essa parceria trará muitos frutos!

                    </p>
                </div>


                <div class="col">
                    <img src="./images/TREINADORES/Treinador2.jpeg" alt="Treinador Washington">
                </div>

                <div class="col">
                    <h3> WASHINGTON BARBOSA </h3>
                    <div>
                        <a href="https://www.instagram.com/washington.89barbosa/" class="bi bi-instagram mx-2"></a>
                    </div>


                    <p class="biografia">

                        Nosso canhotinho é aquele Camisa 10 Clássico, habilidoso e com alto poder de definição.
                        Profissional atencioso, detalhista, comunicativo e com características naturais de
                        liderança.
                        <br>
                        <br>
                        Em sua carreira como atleta destacamos suas passagens pelas equipes do São Paulo FC; GR
                        Barueri
                        (Campeão Paulista Sub20); Araçariguama (Campeão Paulista A2) e Georgians Tbilisi
                        (Bicampeão
                        Nacional - Geórgia).
                        <br>
                        <br>
                        Em sua vitoriosa carreira de treinador, levou o GR Barueri (Sub11) ao título invicto do
                        Paulista
                        2012 e as equipes do BARUERI Esporte Forte (Sub15/Sub17) ao Título da Liga Paulista de
                        Futsal
                        2021.
                        <br>
                        <br>
                        Possui graduação em Educação Física pela Universidade Paulista - UNIP e atualmente
                        encontra-se
                        cursando Pós Graduação na área.
                    </p>
                </div>


                <div class="col">
                    <img src="./images/TREINADORES/Treinador3.jpeg" alt="Treinador William Nascimento">

                </div>

                <div class="col">
                    <h3> WILLIAM NASCIMENTO </h3>

                    <div>
                        <a href="https://www.instagram.com/nascwill/" class="bi bi-instagram mx-2"> </a>

                    </div>

                    <p class="biografia">

                        Nosso W10 é o típico Camisa 10 Moderno, cerebral na distribuição do jogo e com uma perna
                        direita
                        fatal quando o assunto é balançar as redes. Profissional com excelente relacionamento
                        interpessoal, comunicativo, líder e motivador.
                        <br>
                        <br>
                        Em sua carreira como atleta destacam-se as passagens, sempre acompanhadas de muitos
                        gols, pelas
                        equipes do Roma Barueri; Araçariguama; Campinense; Eco Osasco e Palmeiras.
                        <br>
                        Atua voluntariamente pelo Projeto Social W10 - Futsal, aonde compartilha toda
                        experiência e
                        conhecimento com aproximadamente 30 crianças atualmente.
                        <br>
                        <br>
                        Possui Certificação como Coaching (Liderança / Inteligência Emocional) e encontra-se em
                        curso de
                        TREINADOR DE FUTSAL pela Federação Paulista de Futsal - Categorias de iniciação (sub7 ao
                        sub10)
                        e Categorias de base (sub12 ao sub18).
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- FIM container TREINADORES-->



    <!-- CONVITE -->
    <div class="container">
        <h1 class="text-ligh fw-bold display-6 p-3 my-1"> Venha conhecer o Centro de Formação de Atletas Futsal
            CAMISA
            10
            FC e surpreenda-se com a nossa metodologia!</h1>
    </div>



    <!-- rodapé -->
    <div class="container">
        <footer>
            <p>Copyright&copy; 2022 DayCode</p>
            <p>Todos os direitos reservados. Todo o conteúdo do site, todas as fotos, imagens, logotipos,
                marcas,
                layout,
                aqui veículados são de propriedade exclusiva do CAMISA 10 FC. É vedada qualquer reprodução,
                total ou
                parcial, de qualquer elemento de identidade, sem expressa autorização. A violação de qualquer
                direito
                mencionado implicará na responsabilização cível e criminal nos termos da Lei.</p>
        </footer>
    </div>
    <!-- fim do Rodapé -->


    <!-- Redes Sociais -->
    <div id="redes_sociais" class="redessociais">
        <p class="mx-3 ">
            <h3>Siga-nos nas redes sociais! </h3>
            <a href="https://www.instagram.com/camisa10_skabrasil/" class="bi bi-instagram mx-2">
            </a>
            <h3> <a class="instagram" href="https://www.instagram.com/camisa10_skabrasil/">@camisa10_skabrasil</a>
            </h3>
        </p>
    </div>
    <!-- Fim Redes Sociais -->


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>



</body>

</html>